/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 1200px) {

	.container{
		width: 90%;
	}

	.bloqueHeaderFlex{
		display: inline-block;
		text-align: center;
	}

	.bloqueTextosHeader{
		width: 100%;
		margin-bottom: 10%;
	}
	.bloqueImagenHeader{
		width: 40%;
	}

	.bloqueImagenHeader img{
		width: 100%;
		margin-bottom: 10%;
	}

	.bloqueRRSSHeader{
		width: 100%;
		display: inline-flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.ContactoRRSS{
		width: 48%;
	}

	.ContactoRRSS p{
		font-size: 1.1em;
	}

	.tituloMain{
		font-size: 1.6em;
	}

	.tituloMain::after{
		width: 40%;
	}

	.sobremi{
		font-size: 1.3em;
	}

	.Experiencia{
		height: 550px;
	}

	.Experiencia img, .cursoRealizado img{
		width: 25%;
	}

	.tituloExperiencia, .tituloCurso{
		font-size: 1.3em;
		margin-top: 10%;
		line-height: 1.5;
	}

	.NombreEmpresa, .CentroCurso{
		font-size: 1.1em;
	}

	.LugarTrabajo, .TiempoTrabajo, .tiempoCurso{
		font-size: 1.1em;
	}

	.cursoRealizado{
		height: 340px;
	}

	.Competencias, .Idiomas{
		width: 45%;
	}

	.tituloCompetencias{
		font-size: 1.3em;
	}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

	.container{
		width: 90%;
	}

	.bloqueHeaderFlex{
		display: inline-block;
		text-align: center;
	}

	.bloqueTextosHeader{
		width: 100%;
		margin-bottom: 10%;
	}
	.bloqueImagenHeader{
		width: 50%;
	}

	.imagenPrincipalHeader{
		width: 100%;
	}

	.bloqueRRSSHeader{
		width: 100%;
		display: inline-flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 5%;
	}

	.tituloMain::after{
		width: 40%;
	}

	.ContactoRRSS{
		width: 100%;
	}

	.Experiencia, .cursoRealizado{
		width: 100%;
		height: auto
	}
	
	.cursoRealizado{
		padding-bottom: 5%;	
	}

	.Experiencia img, .cursoRealizado img{
		margin-top: 10px;
	}

	.Competencias, .Idiomas{
		width: 100%;
		padding: 4%;
	}

	.tituloCompetencias{
		font-size: 1.1em;
	}

}